<section class="darkgrey_section">
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">RETURN POLICY</h1>
      <p>Thank you for your purchase. We hope you are happy with your purchase. However, if you are not completely
        satisfied with your purchase for any reason, we regret to inform you that we do not accept returns policy in any
        form because of the nature of the product that we sell. Please see below for more information on our return
        policy.</p>

      <p><strong>CANCELLATION AND REFUND POLICY</strong></p>
      <ul>
        <li>Personal Training. A minimum 24-hour cancellation policy applies to schedule a personal training session.
          Sessions cancelled less than 24 hours in advance will be charged in full. Any rearranged cancelled sessions
          will be at a time mutually agreed between the Client and Occam Technology Ltd.
        </li>
        <li>Personal Training Packages. When personal training sessions are purchased as part of a package or as part of
          a special offer – no refund will be offered for unused sessions. All cancellation requests need to be made in
          writing via email: support@fidness.co.uk.
        </li>
        <li>Trainer Cancellation: If a trainer cancels the session with less than 24 hours’ notice, they will have to
          reimburse the client with another session at a later date/time
        </li>
      </ul>

      <p><strong>Please Note</strong></p>
                 
      <p>● A minimum 24-hour cancellation policy applies</p>

      <p><strong>QUESTIONS</strong></p>

      <p>If you have any questions concerning our return policy, please contact us at:
        +442034887327
        support@fidness.co.uk  


        Last updated October 25, 2020
      </p>
    </div>
  </div>
</section>