<section class="darkgrey_section">
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">PRIVACY NOTICE</h1>
      <p>Thank you for choosing to use our platform at Fidness Limited ("company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices with regards to your personal information, please contact us at support@fidness.co.uk.</p>

      <p>When you visit our website http://fidness.co.uk and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.</p>

      <p>This privacy policy applies to all information collected through our website (such as http://fidness.co.uk), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Sites").</p>

      <p><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</strong></p>

      <h2>1. WHAT INFORMATION DO WE COLLECT?</h2>

      <p><strong>The personal information you disclose to us</strong></p>

      <p>We collect personal information that you provide to us such as name, address, contact information, passwords and security data, and payment information.</p>

      <p>We collect personal information that you voluntarily provide to us when registering at the Sites expressing an interest in obtaining information about us and our services when participating in activities on the Sites (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us.</p>

      <p>The personal information that we collect depends on the context of your interactions with us and the Sites, the choices you make and the products and features you use. The personal information we collect may include the following:</p>

      <p><strong>Name and Contact Data.</strong>  We collect your first and last name, email address, postal address, phone number, and other similar contact data.</p>

      <p><strong>Credentials. </strong> We collect passwords, password hints, and similar security information used for authentication and account access.</p>

      <p><strong>Payment Data.</strong> We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by our payment processor and you should review its privacy policies and contact the payment processor directly to respond to your questions.</p>

      <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>

      <h2>
        Information automatically collected
      </h2>

      <p>Some information — such as IP address and/or browser and device characteristics — is collected automatically when you visit our Sites.</p>

      <p>We automatically collect certain information when you visit, use or navigate the Sites. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites and other technical information. This information is primarily needed to maintain the security and operation of our Sites, and for our internal analytics and reporting purposes.</p>

      <p>Like many businesses, we also collect information through cookies and similar technologies.</p>

      <h2>Information collected from other sources</h2>

      <p>We may collect limited data from public databases, marketing partners, and other outside sources.</p>

      <p>We may obtain information about you from other sources, such as public databases, joint marketing partners, as well as from other third parties. Examples of the information we receive from other sources include social media profile information; marketing leads and search results and links, including paid listings (such as sponsored links).</p>

      <h2>2. HOW DO WE USE YOUR INFORMATION?</h2>

      <p>We process your information for purposes based on legitimate business interests, the fulfilment of our contract with you, compliance with our legal obligations, and/or your consent.</p>

      <p>We use personal information collected via our Sites for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests ("Business Purposes"), in order to enter into or perform a contract with you ("Contractual"), with your consent ("Consent"), and/or for compliance with our legal obligations ("Legal Reasons"). We indicate the specific processing grounds we rely on next to each purpose listed below.</p>

      <p>We use the information we collect or receive:</p>
      <ul>
        <li><p>To facilitate account creation and logon process. If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process.</p></li>
        <li><p>To send you marketing and promotional communications. We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS" below).</p></li>
        <li><p>To send administrative information to you. We may use your personal information to send you our services and new feature information and/or information about changes to our terms, conditions, and policies.</p></li>
        <li><p>Fulfil and manage your orders. We may use your information to fulfil and manage your orders, payments, returns, and exchanges made through the Sites.</p></li>
        <li><p>To post testimonials. We post testimonials on our Sites that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update or delete your testimonial, please contact us at support@fidness.co.uk and be sure to include your name, testimonial location, and contact information.</p></li>
        <li><p>Deliver targeted advertising to you. We may use your information to develop and display content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.</p></li>
        <li><p>Request Feedback. We may use your information to request feedback and to contact you about your use of our Sites.</p></li>
        <li><p>To protect our Sites. We may use your information as part of our efforts to keep our Sites safe and secure (for example, for fraud monitoring and prevention).</p></li>
        <li><p>To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.</p></li>
        <li><p>To enforce our terms, conditions and policies.</p></li>
        <li><p>To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</p></li>
        <li><p>For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites, products, services, marketing and your experience.</p></li>
      </ul>

      <h2>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h2>

      <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfil business obligations.</p>

      <p>We may process or share your data that we hold based on the following legal basis:</p>
      <p>•	Consent: We may process your data if you have given us specific consent to use your personal information for a specific purpose.</p>
      <p>•	Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests.</p>
      <p>•	Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfil the terms of our contract.</p>
      <p>•	Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal processes, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</p>
      <p>•	Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</p>
      <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>
      <p>•	Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</p>
      <p>•	Vendors, Consultants and Other Third-Party Service Providers. We may share your data with third-party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Sites, which will enable them to collect data about how you interact with the Sites over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes.</p>
      <p>•	Third-Party Advertisers. We may use third-party advertising companies to serve ads when you visit the Sites. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</p>
      <p>•	Business Partners. We may share your information with our business partners to offer you certain products, services or promotions.</p>
      <p>•	Other Users. When you share personal information (for example, by posting comments, contributions or other content to the Sites) or otherwise interact with public areas of the Sites, such personal information may be viewed by all users and may be publicly distributed outside the Sites in perpetuity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Sites, and view your profile.</p>

      <h2>4. WHO WILL YOUR INFORMATION BE SHARED WITH?</h2>

      <p>We only share information with the following third parties.</p>

      <p>We only share and disclose your information with the following third parties. We have categorised for each party so that you may easily understand the purpose of our data collection and processing practices. If we have processed your data based on your consent and you wish to revoke your consent, please contact us.</p>
      <p>•	Invoice and Billing</p>
      <p>Stripe</p>
      <p>•	Social Media Sharing and Advertising</p>
      <p>Google+ social plugins</p>
      <p>•	Web and Mobile Analytics</p>
      <p>Google Analytics</p>

      <h2>5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>

      <p>We may use cookies and other tracking technologies to collect and store your information.</p>

      <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>

      <h2>6. DO WE USE GOOGLE MAPS?</h2>
      <p>Yes, we use Google Maps for the purpose of providing better service.</p>

      <p>This website, mobile application, or Facebook application uses Google Maps APIs. By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. You agree to allow us to obtain or cache your location. You may revoke your consent at any time. We use information about location in conjunction with data from other data providers.</p>


      <h2>7. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>

      <p>We keep your information for as long as necessary to fulfil the purposes outlined in this privacy policy unless otherwise required by law.</p>

      <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the period of time in which users have an account with us.</p>

      <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>

      <p>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</p>

      <p>We aim to protect your personal information through a system of organisational and technical security measures.</p>

      <p>We have implemented appropriate technical and organisational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, the transmission of personal information to and from our Sites is at your own risk. You should only access the services within a secure environment.</p>

      <p>9. DO WE COLLECT INFORMATION FROM MINORS?</p>

      <p>We do not knowingly collect data from or market to children under 18 years of age.</p>

      <p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Sites. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at support@fidness.co.uk.</p>

      <p>10. WHAT ARE YOUR PRIVACY RIGHTS?</p>

      <p>In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time.</p>

      <p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws.</p>

      <p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</p>
      <p> </p>
      <p>If you are a resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</p>


      Account Information</p>

      <p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
      <p>•	Log into your account settings and update your user account.</p>
      <p>•	Contact us using the contact information provided.</p>
      <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

      <p>Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Sites. To opt-out of interest-based advertising by advertisers on our Sites visit http://www.aboutads.info/choices/.</p>

      <p>Opting out of email marketing: You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list — however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:</p>
      <p>•	Access your account settings and update preferences.</p>
      <p>•	Contact us using the contact information provided.</p>
      <p>•	Note your preferences when you register an account with the site.</p>



      <p>11. CONTROLS FOR DO-NOT-TRACK FEATURES</p>

      <p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practise in a revised version of this Privacy Policy.</p>

      <p>12. DO WE MAKE UPDATES TO THIS POLICY?     </p>

      <p>Yes, we will update this policy as necessary to stay compliant with relevant laws.</p>

      <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>

      <p>13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?     </p>

      <p>If you have questions or comments about this policy, you may contact our Data Protection Officer (DPO), Fidness Limited, by email at support@fidness.co.uk, by phone at 07951113123, or by post to:</p>

      <p>Fidness Limited</p>
      <p>PRIVACY NOTICE</p>

      <p>Thank you for choosing to be part of our community at Fidness Limited ("company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices with regards to your personal information, please contact us at support@fidness.co.uk.</p>

      <p>When you visit our website http://fidness.co.uk and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.</p>

      <p>This privacy policy applies to all information collected through our website (such as http://fidness.co.uk), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Sites").</p>

      <p>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</p>

      <p>1. WHAT INFORMATION DO WE COLLECT?</p>
      The personal information you disclose to us</p>

      <p>We collect personal information that you provide to us such as name, address, contact information, passwords and security data, and payment information.</p>

      <p>We collect personal information that you voluntarily provide to us when registering at the Sites expressing an interest in obtaining information about us and our services when participating in activities on the Sites (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us.</p>

      <p>The personal information that we collect depends on the context of your interactions with us and the Sites, the choices you make and the products and features you use. The personal information we collect may include the following:</p>

      <p>Name and Contact Data.  We collect your first and last name, email address, postal address, phone number, and other similar contact data.</p>

      <p>Credentials.  We collect passwords, password hints, and similar security information used for authentication and account access.</p>

      <p>Payment Data. We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by our payment processor and you should review its privacy policies and contact the payment processor directly to respond to your questions.</p>

      <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>
      Information automatically collected</p>

      <p>Some information — such as IP address and/or browser and device characteristics — is collected automatically when you visit our Sites.</p>

      <p>We automatically collect certain information when you visit, use or navigate the Sites. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites and other technical information. This information is primarily needed to maintain the security and operation of our Sites, and for our internal analytics and reporting purposes.</p>

      <p>Like many businesses, we also collect information through cookies and similar technologies.</p>
      Information collected from other sources</p>

      <p>We may collect limited data from public databases, marketing partners, and other outside sources.</p>

      <p>We may obtain information about you from other sources, such as public databases, joint marketing partners, as well as from other third parties. Examples of the information we receive from other sources include social media profile information; marketing leads and search results and links, including paid listings (such as sponsored links).</p>

      <p>2. HOW DO WE USE YOUR INFORMATION?</p>

      <p>We process your information for purposes based on legitimate business interests, the fulfilment of our contract with you, compliance with our legal obligations, and/or your consent.</p>

      <p>We use personal information collected via our Sites for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests ("Business Purposes"), in order to enter into or perform a contract with you ("Contractual"), with your consent ("Consent"), and/or for compliance with our legal obligations ("Legal Reasons"). We indicate the specific processing grounds we rely on next to each purpose listed below.</p>

      <p>We use the information we collect or receive:</p>
      <p>•	To facilitate account creation and logon process. If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process.</p>
      <p>•	To send you marketing and promotional communications. We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS" below).</p>
      <p>•	To send administrative information to you. We may use your personal information to send you our services and new feature information and/or information about changes to our terms, conditions, and policies.</p>
      <p>•	Fulfil and manage your orders. We may use your information to fulfil and manage your orders, payments, returns, and exchanges made through the Sites.</p>
      <p>•	To post testimonials. We post testimonials on our Sites that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update or delete your testimonial, please contact us at support@fidness.co.uk and be sure to include your name, testimonial location, and contact information.</p>
      <p>•	Deliver targeted advertising to you. We may use your information to develop and display content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.</p>
      <p>•	Request Feedback. We may use your information to request feedback and to contact you about your use of our Sites.</p>
      <p>•	To protect our Sites. We may use your information as part of our efforts to keep our Sites safe and secure (for example, for fraud monitoring and prevention).</p>
      <p>•	To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.</p>
      <p>•	To enforce our terms, conditions and policies.</p>
      <p>•	To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</p>
      <p>•	For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites, products, services, marketing and your experience.</p>

      <p>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</p>

      <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfil business obligations.</p>

      <p>We may process or share your data that we hold based on the following legal basis:</p>
      <p>•	Consent: We may process your data if you have given us specific consent to use your personal information for a specific purpose.</p>
      <p>•	Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests.</p>
      <p>•	Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfil the terms of our contract.</p>
      <p>•	Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal processes, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</p>
      <p>•	Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</p>
      <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>
      <p>•	Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</p>
      <p>•	Vendors, Consultants and Other Third-Party Service Providers. We may share your data with third-party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Sites, which will enable them to collect data about how you interact with the Sites over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes.</p>
      <p>•	Third-Party Advertisers. We may use third-party advertising companies to serve ads when you visit the Sites. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</p>
      <p>•	Business Partners. We may share your information with our business partners to offer you certain products, services or promotions.</p>
      <p>•	Other Users. When you share personal information (for example, by posting comments, contributions or other content to the Sites) or otherwise interact with public areas of the Sites, such personal information may be viewed by all users and may be publicly distributed outside the Sites in perpetuity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Sites, and view your profile.</p>

      <p>4. WHO WILL YOUR INFORMATION BE SHARED WITH?     </p>

      <p>We only share information with the following third parties.</p>

      <p>We only share and disclose your information with the following third parties. We have categorised for each party so that you may easily understand the purpose of our data collection and processing practices. If we have processed your data based on your consent and you wish to revoke your consent, please contact us.</p>
      <p>•	Invoice and Billing</p>
      <p>Stripe</p>
      <p>•	Social Media Sharing and Advertising</p>
      <p>Google+ social plugins</p>
      <p>•	Web and Mobile Analytics</p>
      <p>Google Analytics</p>

      <p>5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</p>

      <p>We may use cookies and other tracking technologies to collect and store your information.</p>

      <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>

      <h2>6. DO WE USE GOOGLE MAPS?</h2>
      <p>Yes, we use Google Maps for the purpose of providing better service.</p>

      <p>This website, mobile application, or Facebook application uses Google Maps APIs. By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. You agree to allow us to obtain or cache your location. You may revoke your consent at any time. We use information about location in conjunction with data from other data providers.</p>


      <p>7. HOW LONG DO WE KEEP YOUR INFORMATION?</p>

      <p>We keep your information for as long as necessary to fulfil the purposes outlined in this privacy policy unless otherwise required by law.</p>

      <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the period of time in which users have an account with us.</p>

      <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>

      <h2>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>

      <p>We aim to protect your personal information through a system of organisational and technical security measures.</p>

      <p>We have implemented appropriate technical and organisational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, the transmission of personal information to and from our Sites is at your own risk. You should only access the services within a secure environment.</p>

      <h2>9. DO WE COLLECT INFORMATION FROM MINORS?</h2>

      <p>We do not knowingly collect data from or market to children under 18 years of age.</p>

      <p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Sites. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at support@fidness.co.uk.</p>

      <h2>10. WHAT ARE YOUR PRIVACY RIGHTS?</h2>

      <p>In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time.</p>

      <p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws.</p>

      <p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</p>

      <p>If you are a resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</p>

      <h2>Account Information</h2>

      <p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
      <ul>
        <li><p>Log into your account settings and update your user account.</p></li>
        <li><p>Contact us using the contact information provided.</p></li>
      </ul>

      <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

      <p>Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Sites. To opt-out of interest-based advertising by advertisers on our Sites visit http://www.aboutads.info/choices/.</p>

      <p>Opting out of email marketing: You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list — however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:</p>
      <ul>
        <li><p>Access your account settings and update preferences.</p></li>
        <li><p>Contact us using the contact information provided.</p></li>
        <li><p>Contact us using the contact information provided.</p></li>
        <li><p>Note your preferences when you register an account with the site.</p></li>
      </ul>


      <h2>11. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>

      <p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practise in a revised version of this Privacy Policy.</p>

      <h2>12. DO WE MAKE UPDATES TO THIS POLICY?</h2>

      <p>Yes, we will update this policy as necessary to stay compliant with relevant laws.</p>

      <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>

      <h2>13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h2>

      <p>If you have questions or comments about this policy, you may contact our Data Protection Officer (DPO), Fidness Limited, by email at support@fidness.co.uk, by phone at 07951113123, or by post to:</p>

      <p>Fidness Limited</p>
      <p>86-90 Paul Street</p>
      <p>London, EC2A 4NE</p>
      <p>United Kingdom</p>

      <p>If you are a resident in the European Economic Area, the "data controller" of your personal information is Fidness Limited. You can contact them directly regarding the processing of your information by Fidness Limited, by email at support@fidness.co.uk, by phone at 07951113123, or by post to:</p>

      <p>86-90 Paul Street</p>
      <p>London, EC2A 4NE</p>
      <p>United Kingdom</p>

      <p>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</p>

      <p>Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please visit fidness.co.uk. We will respond to your request within 30 days.</p>

      <p>Last updated October 25, 2020</p>

      <p>If you are a resident in the European Economic Area, the "data controller" of your personal information is Fidness Limited. You can contact them directly regarding the processing of your information by Fidness Limited, by email at support@fidness.co.uk, by phone at 07951113123, or by post to:</p>

      <p>86-90 Paul Street</p>
      <p>London, EC2A 4NE</p>
      <p>United Kingdom</p>

      <p>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</p>

      <p>Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please visit fidness.co.uk. We will respond to your request within 30 days.</p>

      <p>Last updated October 25, 2020</p>
    </div>
  </div>
</section>