<body class="frontpage">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http:/browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<section id="info" class="dark_section bg_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                  Fidness offers personalised one to one training sessions live on our site or in person in many disciplines with the best trainers to help you achieve your health and fitness goals
                </p>
                <p>
                    <a href="#" class="theme_btn">Know More</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="classes" class="color_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="block-header"><strong>Trainers</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!--vertical slider -->
                <div class="vertical-slider">
                  <% @trainers.each do |trainer| %>
                    <div class="slide media darkgrey_section">
                      <%= link_to(trainer_path(trainer.id), class: "pull-left") do %>
                        <%= image_tag(trainer&.avatar, alt: "image01", class: "media-object") if trainer.avatar.attached? %>
                      <% end %>

                      <div class="media-body">
                        <h3><%= trainer.first_name %></h3>
                        <p><%= trainer.profile.try(:short_description) %></p>
                      </div>
                    </div>
                  <% end %>
                </div><!-- End of vertical slider -->
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="block widget_text col-md-3 col-sm-4">
                <h3>Contact Info</h3>
                    <span><strong>Email:</strong> </span>
                    <a href="mailto:info@fidness.com">info@fidness.com</a><br>
                </p>
                <p>
                    <a class="socialico-twitter" href="#" title="Twitter">#</a>
                    <a class="socialico-facebook" href="https://www.facebook.com/Fidness-105167221326916" title="Facebook">#</a>
                    <a class="socialico-instagram" href="https://www.instagram.com/fid.ness/" title="Instagram">#</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<section id="copyright" class="light_section">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                Copyright - Fidness
            </div>
        </div>
    </div>
</section>
</body>
