<section class="darkgrey_section">
  <div class="container">
    <h1> Purchased sessions</h1>
    <p>You have purchased <%= @option.number_of_sessions %> sessions with <%= @trainer.first_name %> <%= @trainer.last_name %> with X remaining</p>
  </div>
</section>

