<section class="darkgrey_section">
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Terms and Conditions</h1>

      <p>Thank you for choosing Fidness Limited, the best place to book a professional Independent Personal Trainer online. We are an online platform which connects personal trainers with clients.</p>

      <p>Your use of Our Website fidness.co.uk and Booking Service is subject to these terms and conditions together with any additional terms and policies referred to in them (“Our Terms”).</p>

      <p>These terms and conditions of service together with any terms and policies referred to in them (“Our Terms”) constitute a legally binding agreement between you and Fidness Limited (“Fidness Limited”, “we”, “us” or “our”). Fidness Limited, trading as Fidness Limited registered in England and Wales with company No. 12984374 and whose registered office is at Fidness Limited 86-90 Paul Street, London, England, United Kingdom, EC2A 4NE</p>

      <p>Fidness Limited provides a booking service (the “Services”) for a range of Personal Fitness Trainer services (“PT sessions”) that are performed in each and every case by independent self-employed professional personal fitness trainers (“Independent Personal Trainers”). In providing this booking service, Fidness Limited acts as the booking agent of these Independent Personal Trainers and provides a platform for delivering training sessions. Fidness Limited has no responsibility for any Personal Training sessions, which you book through us: we are simply involved with the booking process, as well as providing ancillary services as explained below.</p>

      <p>The Services we offer allows you to search through Our Site and purchase Personal Trainer sessions from a number of Independent Personal Trainers. As part of the Services, we also provide some independent third ancillary services such as arranging such bookings and providing you with access to services that are complementary and beneficial to your fitness. Payment and terms and conditions of use for these services are settled directly with the provider.</p>

      <p>However, as stated above, the contract for the purchase of the Personal Trainer sessions is between you and the Independent Personal Trainer. This means that it is the Independent Personal Trainer (not us) who is legally responsible for providing the Personal Training sessions to you. However, Fidness Limited remains responsible in respect of its obligations to you in accordance with these Terms and Conditions which shall be legally binding. If you have any questions, complaints or requests for refunds, we can be contacted directly via our Customer Services Team support@fidness.co.uk. Fidness Limited will remain the point of contact for the Customer for Customer Service questions.</p>

      <p>Fidness Limited shall, if requested, provide intermediary services between you and Independent Personal Trainers in connection with Customer Service or dispute resolution matters.</p>

      <p>When booked by us, the PT session you receive will be subject to the Independent Personal Trainer’s terms and conditions as set out in the Client Booking Form and Independent Personal Trainers Terms & Conditions (“Independent Personal Trainer' T&Cs”) which you will receive from your chosen Independent Personal Trainer and you will be asked to confirm your acceptance of them prior to receiving the initial Personal Training session. The Independent Personal Trainer T&Cs will form the basis of your agreement with the Independent Personal Trainer for your PT session (each a "PT session Agreement"). Fidness Limited is not a party to any Personal Training session Agreement: this will solely be between you and the Independent Personal Trainer who provides you with your Personal Training session.  

      <p>Our Terms govern your use of our website ("Our Site ") and our telephone booking services (collectively " Our Booking Services "). By using Our Site or Booking Services, you agree to abide by Our Terms.</p>

      <p>Please read Our Terms carefully and thoroughly. If you do not accept Our Terms, you must not make a booking through Fidness Limited for any Personal Training session.</p>

      <h2>Personal Data</h2>

      <p>In order to provide Our Booking Services, we may collect personal data from you. Before making a booking with us please read our privacy policy.</p>

      <h2>Consumer Terms</h2>
      <p>The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013 requires Fidness Limited to give you certain key information for there to be a legally binding contract between you and us. This information is set out below and is also linked in the email which we will send to you to confirm any booking you make through us with an Independent Personal Trainer. Details on how to make a booking are set out below. If we wish to change any key information once a legally binding contract is made, we can only do this if you agree to it.</p>

      <h2>Eligible Use</h2>

      <p>You confirm that you are of legal age to access and use Our Site and/or Our Booking Services and of legal capacity to agree to Our Terms. You are not eligible to use Our Booking Services if you are under the age of 18. Our Terms apply to individuals only; for any corporate bookings or purchases, please contact us at support@fidness.co.uk</p>

      <h2>Language</h2>

      <p>We only conclude contracts in the English language.</p>

      <h2>Usage</h2>

      <p>When registered on Our Site, you will be able to access to and use of our search engine to look for PT sessions within the United Kingdom and to book a Personal Training program with an Independent Personal Trainer of your choice and select your preferred location.</p>

      <h2>Booking and Purchase Process</h2>
      <p>You can make a booking through Our Site by choosing an Independent Personal Trainer. Your payment details will be requested at the time of booking and payment will be processed by Stripe.  Full payment of the Training Fee is due at the time of booking that Personal Training program with the Independent Personal Trainer through us. Full details of the prices are referred to below.</p>

      <p>The Training Fee belongs to the Independent Personal Trainer who provides the Personal Training sessions. Fidness Limited collects the Training Fee from you as their booking agent. For each booking made through us, we charge the relevant Independent Personal Trainer an agreed fee (including any VAT payable thereon) for introducing you to that Independent Personal Trainer (" Our Agent's Fee "). We have an agreement with each Independent Personal Trainer under which we are entitled to deduct Our Agent's Fee from the Training Fee paid by you for the Personal Training sessions. By making a booking you agree to provide complete, correct and true information including without limitation billing and payment information. Once your booking is accepted and confirmed by the Independent Personal Trainer, you will receive confirmation of your appointment by email from said Personal Trainer. By making a booking, you are responsible for:
        •	Full payment of the applicable Personal Trainer Fee;
        All Personal Training Fees are payable through Our Site. As noted above, we collect payment of Personal Trainer Fees on behalf of the Independent Personal Trainer to whom we charge Our Agent's Fee. Please note that all fees and charges are inclusive of VAT.</p>

      <h2>Payment</h2>

      <p>We will do all that we reasonably can to ensure that all of the information you give us when paying for the PT sessions is secure by using an encrypted secure payment mechanism. However, in the absence of negligence on the part of Fidness Limited, we will not be legally responsible to you for any loss that you may suffer if a third party gains unauthorised access to any information that you may give us at any time. By making a booking or purchase you agree to provide complete, correct and true information including without limitation billing and payment information.

      <h2>Prices</h2>
      <p>The price of a Personal Training program (each a “Training Price” and collectively “Training Programs or Bundles Fees") varies according to the Personal Training sessions provided to you by the Independent Personal Fitness Trainer. Prices are inclusive of VAT. At our discretion we may offer limited promotional offers and those will be as indicated in the method of communication which may be online or print offers. Personal Training Programs Prices are liable to change at any time, but changes will not affect any booking which you have already made.</p>

      <h2>Trainer</h2>
      <p>Your Trainer is a fully qualified personal trainer (accredited on the Register of Exercise Professionals as at least Level 3).</p>


      <h2>Trainer’s Obligations</h2>
      <p>
        a.)    The Trainer will use his/her skills and knowledge to design a safe programme of exercise that will take into
        account your lifestyle, personal goals, fitness levels and medical history.
        b.)   Personal trainers will need to have a level 3 certification to deliver sessions to clients and also be insured.
        c.) Personal trainers can only exclusively work with clients they meet on the Fidness Limited platform and can get
        banned if they take the clients off the platform to train privately
        d.)   If a trainer cancels the session with less than 24 hours’ notice they will have to reimburse the client with
        another session at a later date/time
        e.)   All Client information will be kept strictly private and confidential.
      </p>

      <h2>Customer’s Obligations</h2>
      <p>
        •	In addition to the responsibilities noted above, it is your responsibility to provide complete and accurate information at the time of booking. Failure to provide complete and accurate information may result in a rejection of your booking request, cancellation of your booking or an inability of the booked Independent Personal Fitness Trainer to provide the PT sessions as requested. Such failure may also result in loss or incorrect delivery of your booking confirmation.
        •	You understand that the results of any fitness programme cannot be guaranteed. Your progress depends on your effort and co-operation in and outside of the Sessions. In particular, you acknowledge that individual results may vary and no particular result is guaranteed by your Trainer.
        •	You understand that there are inherent risks in participating in a programme of strenuous exercise. If you sustain or claim to sustain any injury while participating in training, you acknowledge that the Trainer is not responsible, except where the injury was caused by his/her gross negligence or intentional act
        •	Your Trainer cannot be held liable in any way for undeclared or unknown medical conditions.
      </p>

      <h2>Cancellation & Refunds</h2>
      <p>
        You acknowledge that you do not have any statutory right to cancel a booking made for Personal Training sessions. However, you have a contractual entitlement to cancel any booking you have made with an Independent Personal Fitness Trainer through us in the following circumstances and on the described terms. Subject to the cancellation being a Late or Very Late Cancellation (as described below), if you change your mind about your booking prior to the agreed appointment start time in that booking (" PT session Appointment Time ") then the Personal Fitness Trainer will be willing to treat your booking as cancelled (without requiring payment of all or any part of the applicable PT Fee and without levying any cancellation fee) if you cancel your booking via email at support@fidness.co.uk or through our customer service phone number 07951113123:
        •	at least twenty-four (24) hours prior to the PT Appointment Time; or
        You will also be charged the full PT Fee by the Personal Fitness Trainer if you:
        •	Cancel a booking other than as permitted above;
        •	Attempt to cancel a booking on or after PT Appointment Time; or
        •	Fail to attend a booking at the PT Appointment Time
      </p>

      <h2>Extensions and Delays</h2>

      <p>If you wish to extend the time you have booked a PT session, the Independent Personal Trainer will endeavour to fulfil your request. This is subject to the availability of the Independent Personal Trainer and payment of an additional charge for the extended time calculated in accordance with the Personal Training Program Prices (each an “Extra Time Charge” and collectively, “Extra Time Charges”). If you are delayed and unable to start the PT session at the PT Appointment Time by more than 10 minutes then, unless the Personal Fitness Trainer agrees to the contrary (which is within the sole discretion of the Personal Fitness Trainer):
        •	the Personal Fitness Trainer is entitled to end the PT session at the time agreed when the booking was made without making any adjustment to the PT Fee to reflect the reduced time of the PT session; or
        •	If you and the Personal Fitness Trainer agree to proceed with the PT session for the full time allotted notwithstanding the delayed start time, then Personal Fitness Trainer shall be entitled to receive and you shall be obliged to pay before the relevant PT session is given, an additional charge calculated at the rate set out with the PT prices for extra time
        We will collect the Extra Time Charges as an agent of the Personal Fitness Trainers.
        Fidness Limited Acts Only as an Introducer
        Our Booking Services enable those seeking Personal Training sessions to book appointments with Personal Fitness Trainers seeking to provide such Personal Training sessions. Whilst Fidness Limited interviews and assesses Personal Fitness Trainers who wish to provide PT sessions against rigorous criteria, we do not guarantee or warrant, and make no representations regarding the reliability, quality or suitability of Personal Fitness Trainers. This is entirely a matter for you. Accordingly, you acknowledge and agree that Fidness Limited does not have any obligation to conduct any background checks on any Personal Fitness Trainer and have no obligation in respect of any service they may provide. Fidness Limited will as part of providing a quality booking service request Disclosure Checks (DS), from Independent Personal Trainers wishing to use the Fidness Limited booking service. Fidness Limited will also endeavour to provide innovative and quality training which will be optional for Independent Personal Trainers.</p>

      <p>When interacting with any Personal Fitness Trainer you should exercise caution and common sense to protect your personal safety, details and property, just as you would when interacting with other persons who are unknown to you.</p>

      <h2>Prohibited Use</h2>

      <p>Our Booking Services are for your personal and non-commercial use and must only be used for the purposes of inquiring about or making bookings for Personal Training sessions as expressly described above. You must not use the Site to do any of the following which are strictly prohibited:
        •	Engage in any inappropriate behaviour including but not limited to illicit or sexually suggestive remarks, sexual advances, drug use, excessive drinking and/or other inappropriate behaviour;
        •	Restrict or inhibit any other user from using and enjoying Our Booking Services;
        •	Infringe the privacy rights, property rights, or other civil rights of any person;
        •	Harass, abuse, threaten or otherwise infringe or violate the rights of Personal Fitness Trainers, Fidness Limited(including its employees and personnel) or others;
        •	Harvest, data-mine or otherwise collect information about others, including email addresses, without their consent;
        •	Use technology or other means to access our computer network, unauthorised content or non-public spaces;
        •	Introduce or attempt to introduce any viruses or any other harmful code, files or programs that interrupt or otherwise or limit Our Booking Services functionality;
        •	Damage, disable or otherwise impair our servers or networks or attempt to do the same; and
        •	Engage in or encourage others to engage in criminal or unlawful conduct or breach these Terms including misuse of Our Booking Services for unlawful or unauthorised purposes.
      </p>

      <p>You agree not to breach these Terms in any way which may result in, among other things, termination or suspension of your access to Our Booking Services.</p>

      <h2>Intellectual Property</h2>

      <p>Fidness Limited, the Fidness Limited logo, brand and all other intellectual property rights, trademarks, service marks, graphics and logos used in connection with the Site, App or the Services (whether registered or unregistered) belong to us or our licensors (as are applicable) and are protected by intellectual property law. Nothing in these Terms grants you any rights in the Site or Booking Services or the content within the same. All rights are reserved.</p>

      <h2>Disclaimer</h2>

      <p>As noted above, we introduce individuals seeking Personal Training sessions to Independent Personal Fitness Trainers seeking to provide such PT sessions. We are not liable or responsible for the fulfilment of any booking or the performance of the Personal Fitness Trainer. You acknowledge and agree that we are not responsible for addressing any claims you have as regards any Personal Fitness Trainer or any PT sessions, however, we do try to assist by providing the intermediary services around resolving disputes and complaints as mentioned above.
        Content on Our Site and Our App, which is made available as part of Our Booking Services is provided for your general information purposes only. Nothing contained on Our Site or communicated any other way as part of Our Booking Services constitutes or is meant to constitute, advice, opinion or guidance of any kind. We are not a health care provider nor do we provide medical advice or medical treatment. References in Our Site and elsewhere to "Fitness" and "Health" or any similar terms do not refer to medical treatment or medical therapy. The information presented on Our Site and otherwise as part of Our Booking Services is not intended to diagnose health problems or to take the place of professional medical care. Should you have a medical issue you should always consult with a qualified medical professional. We make no warranty or guarantee that Our Site or any other aspect of Our Booking Services is suitable for your intended use, error-free, timely, reliable, entirely secure, virus-free or available. We make no guarantee of particular results or outcomes by use of Our Site or any other aspect of Our Booking Services.
        Nothing in Our Terms will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit and nothing in Our Terms will exclude or limit our liability in respect of any: death or personal injury caused by the negligence of Fidness Limited, fraud or fraudulent misrepresentation by Fidness Limited, or any matter which it would be illegal or unlawful for Fidness Limited to exclude or limit, or to attempt or purport to exclude or limit, its liability. We are not liable or responsible for any errors in or failure to provide Our Booking Services due to your error or failure to provide accurate and complete information. Whilst we make every effort to ensure that Our Booking Services are available, we do not represent, warrant or guarantee in any way the continued availability at all times or the uninterrupted use by you of Our Booking Services. We reserve the right to suspend or cease the operation of all or part of Our Booking Services from time to time at our sole discretion.
        Use of this site and booking services is on an "as-is" and "as available" basis. To the maximum extent permitted at law in no event shall we be liable for any direct, indirect, punitive, incidental, special, consequential damages or any damages whatsoever including, without limitation, damages for loss of use, loss of data, lost revenues, loss of goodwill, loss of anticipated saving or profits, or arising out of or in any way connected with the use or performance of the site or services, or with the delay or inability to use the site or services, or with the provision of or failure to provide the site or services.</p>

      <h2>Indemnity</h2>
      <p>You agree to defend and indemnify us from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, that arise from or relate to your use or misuse of, or access to Our Booking Services and otherwise from your violation of Our Terms.</p>

      <h2>Modification & Termination</h2>
      <p>We may modify Our Terms or terminate use of Our Booking Services at any time by giving notice of termination to you. The Personal Training Prices may also change from time to time. We may also change, suspend, terminate or discontinue any aspect of Our Booking Services including the availability of certain features at any time for any reason.</p>

      <h2>Severability</h2>
      <p>If any provision of Our Terms is deemed or becomes invalid, the validity of the other provisions shall not be affected.</p>

      <h2>Governing Law & Jurisdiction</h2>
      <p>You agree that Our Terms for all purposes shall be governed by and construed in accordance with English law. You also agree, subject to the following clause, to submit to the nonexclusive jurisdiction of the English courts as regards any claim or matter arising under these Terms.</p>

      <p>Please email support@fidness.co.uk for any other enquiries.</p>
    </div>
  </div>
</section>

