<div class="alert alert-danger alert-dismissable trainer-dashboard" style="display: none;" id="alert-error">
  <button type="button" class="close" id="close-button" onclick="document.getElementsByClassName('alert-danger')[0].style.display = 'none'" aria-hidden="true">&times;</button>
  <p><strong>This form contains the following errors:</strong></p>
  <ul class="errors"></ul>
</div>
<% flash.clear %>
