<div class="alert alert-success alert-dismissible trainer-dashboard" role="alert" style="display: none;" id="alert-success">
  <button type="button" class="close" id="close-button" onclick="$('#alert-success').css('display', 'none')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Time saved</strong>
</div>
